@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap");
* {
  border: 0;
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
html {
  font-size: 63.5%;
}
.starting {
  min-height: 100vh;
  background-image: url("../Assets/Images/Bg-4.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
}

.logo p {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
header {
  display: flex;
  background-color: transparent;
  margin: 0px 20px;
  line-height: 3rem;
}
header .nav-bar {
  position: relative;
}

header .nav-bar .navigation-links li {
  display: inline-block;
  padding: 10px 30px;
  list-style-type: none;
}
header .nav-bar .navigation-links li a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
}
header .nav-bar .navigation-links li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: white;
  border-radius: 2px;
  bottom: -2px;
  transition: 0.5s;
}
header .nav-bar .navigation-links li a:hover::before {
  width: 100%;
}

.menu-bar {
  display: none;
}

header .nav-bar {
  flex: 1;
  text-align: center;
}
.toggl-manubar {
  transform: scale(1) !important;
  transition: 0.1s;
  transform-origin: right;
  text-align: center;
}
main {
  width: 60%;
  margin-left: 10rem;
  margin-top: 5rem;
}
main p {
  color: white;
  font-size: 2rem;
  margin-top: 1.5rem;
}
main .button {
  margin-top: 3rem;
}
main .button button {
  font-size: 20px;
  margin-left: 20px;
}
main h1 {
  font-size: 5rem;
  color: white;
  font-weight: bold;
}
main h1 span {
  color: skyblue;
  text-shadow: 2px 2px 20px skyblue;
}

@media screen and (max-width: 833px) {
  header .nav-bar .navigation-links li {
    display: block;
  }
  header .nav-bar .navigation-links {
    position: absolute;
    width: 70%;
    background-color: transparent;
    z-index: 1000;
    height: auto;
    right: -10px;
    transform: scale(0);
    text-align: center;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 8px 8px 5px rgba(0, 0, 0, 0.2),
      inset -8px -8px 5px rgba(0, 0, 0, 0.2);
    top: 45px;
  }
  .menu-bar {
    position: absolute;
    right: 0;
    display: block;
    font-size: 2.5rem;
    color: white;
    padding-top: 10px;
  }
  main {
    width: 90%;
    margin-left: 10px;
    margin-top: 8rem;

    margin-right: auto;
  }
  .Benifits {
    flex-direction: column;
  }
  main p {
    font-size: 2rem;
    text-align: center;
  }
  main button {
    margin-right: auto;
    margin-left: auto;
  }
  main .button button {
    margin-top: 30px;
  }
  main h1 {
    text-align: center;
  }
}
@media screen and (max-width: 556px) {
  main .button button {
    margin-top: 30px;
    margin-left: 10px;
  }
  main p {
    height: auto;
  }

  main {
    padding: 10px 20px;
  }
}

.Rest {
  height: auto;
  background-image: linear-gradient(90deg, rgb(20, 204, 221), lightpink);
  width: 100%;
}
.Benifits {
  display: flex;
  height: auto;
}
.Benifits .card {
  flex: 1;
  text-align: center;
  background-color: transparent;
  border: 0;
  height: auto;
  padding: 20px;
}
.Benifits .card img {
  max-width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  object-fit: contain;
}
.Benifits .card p {
  font-size: 1.4rem;
}
.Benifits .card span {
  color: yellow;
}
@media screen and (max-width: 1113px) {
  .Benifits {
    flex-direction: column;
  }
}
.footer {
  height: auto;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(90deg, rgb(20, 204, 221), lightpink);
  padding-left: 20px;
  padding-right: 20px;
}
.footer .para {
  display: block;
  max-width: 1000px;
  margin-left: auto;
  font-size: 1.3rem;
  margin-right: auto;
  text-align: center;
}
.footer > h1 {
  font-size: 4rem;
  font-weight: bold;
}

.footer .about-us .first {
  text-align: left;
  flex: 1;
  width: 20%;
  vertical-align: baseline;
}
.footer .about-us .first a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  color: gray;
  padding-top: 3px;
}
.footer .about-us .first h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 1.7rem;
}
.about {
  text-align: left;
  flex: 1;
}
.about h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 2rem;
}
.about-us {
  display: flex;
  margin-top: 10rem;
  margin-left: 4rem;
}
.about ul a {
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 0px;
  color: gray;
}

.descrpition {
  margin-top: 4rem;
}
.descrpition h1 {
  font-size: 3rem;
  font-weight: bold;
}

.descrpition p {
  max-width: 1000px;
  font-size: 1.3rem;
  margin-right: auto;
  margin-left: auto;
}
.contact-us {
  margin-top: 3rem;
}
.contact-us h3 {
  font-size: 2rem;
  color: rgb(114, 110, 110);
}
.icons i {
  margin: 2rem;
  font-size: 3rem;
}
